.schedules-wrapper {
    margin: 1em;
    padding: 1em 1.5em;

    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .45);
}

.schedules-header::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .07);
    border-radius: 25%;

    margin: 1em 0;
}

.schedules-header .schedules-title {
    font-size: 2em;
    margin-bottom: 0.25em;
}

.schedules-header .schedules-date {
    color: rgba(0, 0, 0, .65);
}

.periods-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

@media (max-width: 470px) {
    .schedules-header .schedules-title {
        font-size: 1.5em;
        margin-bottom: 0.25em;
    }
}