.header {
    background-color: #332;
    color: white;

    text-align: center;
}

.header__container {
    margin: 0 auto;
    max-width: 1280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.header__nav {
    display: flex;
    gap: 15px;

    list-style-type: none;
}

.header__nav-link {
    text-decoration: none;
    font-size: 1.12rem;
    color: white;
}

.header__nav-link:hover {
    opacity: 0.75;
    text-decoration: underline;
}