* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  border: 1px solid black;
  border-radius: 25px;

  padding: 2rem;
  max-width: 400px;
}