.courses-wrapper {
    display: grid;
    gap: 24px;

    grid-template-columns: repeat(4, 1fr);

    padding: 20px 0;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
