.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2em 1em;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.filter-items {
    display: flex;
    gap: 2em;
}

.filter-items > span {
    display: flex;
    gap: 0.5em;
}