@use "./_mixins.scss" as *;
@use "./_variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Consolas';
}

.app {
    @include flex-center;
}

.container {
    @include container;
}