.user-profile-form-wrapper {
    margin: 1em;
    padding: 1em 1.5em;

    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .45);

    text-align: center;
}

.user-profile-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    text-align: left;
}

.user-profile-form > span {
    display: block;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.user-profile-form > span > p {
    font-size: 0.9em;
}

.user-profile-form input,
.user-profile-form select {
    padding: 0.5em;

    border: 1px solid rgba(0, 0, 0, .45);
    border-radius: 10px;
}

.user-profile-form-clear-btn {
    padding: 0.5em;

    border: none;
    border-radius: 10px;
    background-color: #333;

    color: #fff;
    font-size: 1em;
}

.summary-wrapper {
    padding: 1em;

    border: 1px solid rgba(0, 0, 0, .45);
    border-radius: 10px;
}